{{- if .Values.ingressClass.enabled -}}
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels: {{- include "traefik-hub.labels" . | nindent 4 }}
  name: {{ include "traefik-hub.ic-name" . }}
spec:
  controller: hub.traefik.io/ingress-controller
{{- end }}
