---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: apiaccesses.hub.traefik.io
spec:
  group: hub.traefik.io
  names:
    kind: APIAccess
    listKind: APIAccessList
    plural: apiaccesses
    singular: apiaccess
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIAccess defines which group of consumers can access APIs and
          APICollections.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: APIAccessSpec configures an APIAccess.
            properties:
              anyGroups:
                type: boolean
              apiCollectionSelector:
                description: APICollectionSelector selects the APICollections which
                  are member of this APIAccess object. Multiple APIAccesses can select
                  the same set of APICollections. This field is optional and follows
                  standard label selector semantics. An empty APICollectionSelector
                  matches any APICollection.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
              apiCollections:
                description: APICollections defines a set of APICollections which
                  are member of this APIAccess object. Multiple APIAccesses can select
                  the same APICollections. When combined with APICollectionSelector,
                  this set of APICollections is appended to the matching APICollections.
                items:
                  description: APICollectionReference contains information to identify
                    an APICollection to add to APIAccess.
                  properties:
                    name:
                      type: string
                  required:
                  - name
                  type: object
                type: array
              apiSelector:
                description: APISelector selects the APIs which are member of this
                  APIAccess object. Multiple APIAccesses can select the same set of
                  APIs. This field is optional and follows standard label selector
                  semantics. An empty APISelector matches any API.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
              apis:
                description: APIs defines a set of APIs which are member of this APIAccess
                  object. Multiple APIAccesses can select the same APIs. When combined
                  with APISelector, this set of APIs is appended to the matching APIs.
                items:
                  description: APIReference contains information to identify an API
                    to add to an APIAccess, an APICollection or an APIRateLimit.
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  type: object
                type: array
              groups:
                items:
                  type: string
                type: array
              operationFilter:
                description: OperationFilter filters the operations available on a
                  set of APIs using OperationSets.
                properties:
                  include:
                    items:
                      type: string
                    type: array
                type: object
            type: object
          status:
            description: The current status of this APIAccess.
            properties:
              hash:
                description: Hash is a hash representing the APIAccess.
                type: string
              syncedAt:
                format: date-time
                type: string
              version:
                type: string
            type: object
        type: object
    served: true
    storage: true
