---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: apiportals.hub.traefik.io
spec:
  group: hub.traefik.io
  names:
    kind: APIPortal
    listKind: APIPortalList
    plural: apiportals
    singular: apiportal
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.urls
      name: URLs
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIPortal defines a portal that exposes APIs.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: The desired behavior of this APIPortal.
            properties:
              apiGateway:
                description: APIGateway is the APIGateway resource the APIPortal will
                  render documentation for.
                type: string
              customDomains:
                description: CustomDomains are the custom domains under which the
                  portal will be exposed.
                items:
                  description: Domain is the domain name.
                  maxLength: 253
                  type: string
                  x-kubernetes-validations:
                  - message: custom domain must be a valid domain name
                    rule: self.matches(r"""([a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]""")
                maxItems: 20
                type: array
                x-kubernetes-validations:
                - message: duplicate domains
                  rule: self.all(x, self.exists_one(y, y == x))
              description:
                description: Description of the APIPortal.
                type: string
              title:
                description: Title is the public facing name of the APIPortal.
                type: string
              ui:
                description: UI holds the UI customization options.
                properties:
                  logoUrl:
                    description: LogoURL is the public URL of the logo.
                    type: string
                  service:
                    description: Service defines a custom service exposing the UI.
                    properties:
                      name:
                        description: Name of the Kubernetes Service resource.
                        type: string
                      namespace:
                        description: Namespace of the Kubernetes Service resource.
                        type: string
                      port:
                        description: Port of the referenced service. A port name or
                          port number is required.
                        properties:
                          name:
                            description: Name is the name of the port on the Service.
                              This is a mutually exclusive setting with "Number".
                            type: string
                          number:
                            description: Number is the numerical port number (e.g.
                              80) on the Service. This is a mutually exclusive setting
                              with "Name".
                            format: int32
                            type: integer
                        type: object
                        x-kubernetes-validations:
                        - message: name or number must be defined
                          rule: has(self.name) || has(self.number)
                    required:
                    - name
                    - port
                    type: object
                type: object
            required:
            - apiGateway
            type: object
          status:
            description: The current status of this APIPortal.
            properties:
              customDomains:
                description: CustomDomains are the custom domains for accessing the
                  exposed APIPortal WebUI.
                items:
                  type: string
                type: array
              hash:
                description: Hash is a hash representing the APIPortal.
                type: string
              hubDomain:
                description: HubDomain is the hub generated domain of the APIPortal
                  WebUI.
                type: string
              oidc:
                description: OIDC is the OIDC configuration for accessing the exposed
                  APIPortal WebUI.
                properties:
                  clientId:
                    description: ClientID is the OIDC ClientID for accessing the exposed
                      APIPortal WebUI.
                    type: string
                  issuer:
                    description: Issuer is the OIDC issuer for accessing the exposed
                      APIPortal WebUI.
                    type: string
                  secretName:
                    description: SecretName is the name of the secret containing the
                      OIDC ClientSecret for accessing the exposed APIPortal WebUI.
                    type: string
                type: object
              syncedAt:
                format: date-time
                type: string
              urls:
                description: URLs are the URLs for accessing the APIPortal WebUI.
                type: string
              version:
                type: string
            required:
            - urls
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
